/* =============
    Articles
============= */




 #AllCards
ul{

    li{
        img{

        width: 350px;
    }
        }
    button{
        background-color: black;
        border-color: white;
        
        h1{
            width: 150px;
            height: 5px;
        color: white;
        
        }
    }
}

#MoreCards{


    
    padding-top: 30%;
        color: white;
        ul{
            li{
                p{

                }
                img{
                    width: 350px;
                }
            }
        }

        button{

            background-color: black;
            border-color: white;
            
            h1{
                
            color: white;
            }
        }
    
    
}