/* =============
    Articles
============= */
#IMGF{
    grid-area: IMGF;
    padding-left: 15%
}

#IMGM{
    grid-area: IMGM;
    padding-left: 115%;
 }
 #IMGW{
     grid-area: IMGJ;
     padding-left: 220%
 }


 #AllCards
 aside{
    
        @include md{
            padding-top: 500%;
            display: grid;
            grid-template-columns: 25% 25% auto;
            grid-template-areas:"IMGF IMGM IMGW"
            

        img{

        width: 350px;
        }
        }
    }

     
 

#Buttons{

    @include md{
      padding-left: 35%;
    }

    display: grid;
    grid-template-columns: 16px auto 16px;
    padding-left: 25%;
    padding-top: 25% ;
    
    
    button{
        background-color: black;
        border-color: white;
        height: 100px;
        width: 200px;
       
        
        h1{
            
        color: white;
        
        }
    }
}

#MoreCards{


    
    padding-top: 30%;
        color: white;
        ul{
            li{
                p{

                }
                img{
                    width: 350px;
                }
            }
        }

        button{

            background-color: black;
            border-color: white;
            
            h1{
                
            color: white;
            }
        }
    
    
}