/* =============
    Moon
============= */
#moonie{

    aside{
        h1{
            color: white;
        }
        h2{
            color: white;
        }
        p{
            color: white;
        }
    }
    @include xl{
        grid-template-columns: auto 1000px auto;
        padding-left: 5%;
        grid-template-areas: ". moonie .";
    }

    
}